@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ced6f0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
section{
    background-color: white;
    margin: 200px 100px 200px 100px;
    border-radius: 15px 15px 15px 15px;

}
div.d1{
    text-align: center;
    padding: 75px 50px;   
}
div.d1 h1{
    padding: 10px 0px;
    font-size: xx-largegit;

}
h4{
    color: #4269e2ff;
    font-size: small;
}
p.d1{
    font-size: small;
}

/* comienza div contenedor 2 incluye 3 div hijos */
div.d2{
    display: flex;
    font-size: small;
    margin: 0px 70px 20px 70px;
}
div.di1{
    margin: 10px 15px;
    padding: 10px 10px;
}
div.di2{
    margin: 10px 15px;
    padding: 10px 10px;
}
div.di3{
    margin: 10px 15px;
    padding: 10px 10px;
}
/* finaliza div contenedor 2 */

/* inicio div padre 3, incluye 3 div hijos */
div.d3{
    display: flex;
    justify-content: safe;
    font-size: small;
    margin: 0px 70px 0px 70px;
    padding: 0px 0px 50px 0px;
}
div.di4{
    margin: 10px 15px;
    padding: 10px 10px;
    width: 450px;
}
div.di5{
    margin: 10px 15px;
    padding: 10px 10px;
}
div.di6{
    margin: 10px 15px;
    padding: 10px 10px;
}
/* finaliza div padre 3 */


i{
    padding: 10px 10px 50px 10px;
}
 
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */